
*{
	margin:0;
	padding: 0;
}
html{
	height: 100%;
/*background-image: url(..//images/xxzl1.png);*/
  /*  background-repeat: no-repeat;
    background-size: 185% 170%;
    background-position-x: -10rem;
    background-position-y: -5rem;*/
}
/*body{
	background:#0f0;background-color:transparent;
}*/
#lab-file{
	font-size: 1em;
	color: #FFF;
	border:none;
	border-radius: 5px;
}
#test-upload{
	display: none;
}
.header{
	position: fixed;
	z-index: 20;
	width:100%;
	height:2.8rem;
	background-color:white;
	border-bottom: 1px solid #f4f4f4;
}
.header img{
	width:1.5rem;
	height:1.5rem;
	position: absolute;
	top:0;
	z-index: 25;
	margin-top: 0.5rem;
	margin-left: 0.6rem;
}
.header h4{
	width:36%;
	z-index: 30;
	margin-left:32%;
	margin-top:0.5rem;
	position: absolute;
	text-align: center;
	/*font-weight: 400;*/
	border:none;
}
.p_img{
	padding-top: 45px;
    margin: 0 0 0px;
    box-shadow: 0px -36px 132px #04fc04;
    padding-bottom: 1.2rem;
}
.p_img img{
	width: 7rem;
    display: block;
    margin: auto;
    padding-bottom: 11px;
}
.gs{
	width: 92%;
    margin-left: 6%;
    line-height: 28px
} 

.all_page{
	width: 100%;
    margin: auto;
    
}
.head{
	width: 100%;
    height: auto;
}
.head_p{
	line-height: 4.06rem;
    font-size: 2rem;
    font-weight: 800;
    padding-left: 1.1rem;
    margin: auto;
}
.center{
	width: 95%;
	margin:auto;
}
.td_t{
	width: 14rem;
    height: 11rem;
}
.td_1{
	width: 6rem;
    height: 11rem;
}
td{
	text-align:center;
}
.btn{
	float: left;
	display: block;
	margin-left:5%;
}
.tab-bars{
	position: fixed;
	z-index: 100;
	bottom: 0px;
	width:100%;
	height:3.4rem;
	background-color:white;
	border-top:0.1rem solid #f1f1f1;
	

}
.tab-bars ul{
	width:100%;
	height:3rem;
	margin: 0.5rem auto 0;
	text-align: center;
}
.tab-bars ul li{
	width:20%;
	height:100%;
	float:left;
	list-style: none;
}
.tab-bars ul li a{
	display: block;
	height:1.2rem;
}
.tab-bars ul li img{
	width:1.2rem;
	height:1.2rem;
}
.tab-bars ul li p{
	font-size:0.6rem;
	margin-top:0.35rem;
	font-weight: 400;
}
.kong{
	width: 100%;
	height: 8rem;
}



.btg{
	display: block;
	width: 26%;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
	margin: auto;
	border-radius: 0.5rem;
	background: #FF5555;
	color: #fff;
}
.area_box{
	border: 1px solid #a59595;
    margin: auto;
    display: block;
}
.zjzp{
	width: 100%;
    height: auto;
}
.zjzp_p{
	line-height: 4.06rem;
    font-size: 2rem;
    font-weight: 800;
    padding-left: 1.1rem;
    margin: auto;
}
.zjzp_form{
	width: 85%;
    display: block;
    margin: auto;
}
.form-check{
	width:25%;
	float: left;
}
.container_form{
	width: 95%;
    height: 5.4rem;
    margin: auto;
}
.zp{
	text-align: center;
}
.tbody_img{
	width: 8rem;
    height: 7rem;
}
.fc{
	padding: 0px;
}
.xm{
	width: 30%;
}
#lab-file{
	display: block;
    margin: auto;
    width: 51%;
}
.increase{
	width: 20%;
	height: 2.5rem;
	line-height: 2.5rem;
	margin:auto;
	text-align:center;
	display: block;
}