*{
	margin:0px;
	padding:0px;
	text-decoration:none;
}
.wholepage{
	width:100%;
	/*border:0.1rem solid red;*/
}
.header{
	position: fixed;
	z-index: 20;
	width:100%;
	height:2.5rem;
	background-color:white;
	border-bottom: 1px solid #f4f4f4;
}
.header img{
	width:1.5rem;
	height:1.5rem;
	position: absolute;
	top:0;
	z-index: 25;
	margin-top: 0.5rem;
	margin-left: 0.6rem;
}
.header h4{
	width:30%;
	z-index: 30;
	margin-left:35%;
	margin-top:0.5rem;
	position: absolute;
	text-align: center;
}
.content{
	width:100%;
	padding-top:2.5rem ;
	background-color: #fff;
	/*border:1px solid blue;*/
}
.business{
	width:100%;
	height:5.5rem;
	margin-top:1rem;
}
.busi-img{
	width:100%;
	height:4rem;
	text-align: center;
}
.busi-img img{
	width:3.5rem;
	height:3.5rem;
	border: 0.1rem solid white;
	border-radius: 50%;
}
.business a{
	display: block;
	width:50%;
	margin:auto;
}
.business a p{
	color:#707070;
	text-align: center;
}
.empl-inform{
	width:100%;
	height:1.5rem;
	margin-top:1.5rem;
	color:#707070;
	border-bottom:0.1rem solid #f4f4f4;
}
.empl-inform img{
	float: left;
	width:0.8rem;
	height:0.8rem;
	margin-top:0.3rem;
	margin-left:0.8rem;
	margin-right:0.5rem;
}
.empl-inform p{
	float: left;
	margin-top:0.2rem;
	font-size: 0.8rem;
}
.employee{
	width:100%;
	height:6rem;
	margin-top:1.5rem;
	/*border:1px solid red;*/
}
.empl-img{
	width:5rem;
	height:5rem;
	float:left;
	margin-left:1.5rem;
	margin-top:0.5rem;
	border:0.1rem solid #f4f4f4;
}
.empl-img img{
	width:100%;
	height:100%;
}
.empl-font{
	width:50%;
	height:5rem;
	float: left;
	margin-left:1rem;
	margin-top:0.6rem;
}
.empl-font p{
	font-size: 0.9rem;
	color:#707070;
	padding-top:0.3rem;
}
.empl-font p a{
	color:#707070;

}
.pay{
	position: fixed;
	z-index: 100;
	bottom: 3.2rem;
	width:100%;
	height:3.2rem;
}
.pay-font{
	width:50%;
	height:100%;
	float: left;
	background-color: #ff5555;
}
.pay-font span{
	display: block;
	float: left;
	font-size: 1.5rem;
	margin-top:0.5rem;
	margin-left:1rem;
	color:#fff;
}
.pay-font a{
	display: block;
	float: left;
	font-size: 1.6rem;
	margin-top:0.6rem;
	color:#fff;
}
.kongbai{
	width:1%;
	height:100%;
	float:left;
	background-color: #fff;
}
.offer{
	width:49%;
	height:100%;
	float:left;
	background-color:#ff5555;
}
.offer a p{
	float:right;
	color:#fff;
	font-size:1.3rem;
	margin-top:0.7rem;
}
.offer a img{
	display: block;
	width:1rem;
	height:1rem;
	float:right;
	margin-right:1rem;
	margin-top:1.1rem;
}
.tab-bars{
	position: fixed;
	z-index: 100;
	bottom: 0px;
	width:100%;
	height:3.3rem;
	background-color:white;
	border-top:0.1rem solid #f1f1f1;

}
.tab-bars ul{
	width:100%;
	height:3rem;
	margin: 0.5rem auto 0;
	text-align: center;
}
.tab-bars ul li{
	width:20%;
	height:100%;
	float:left;
	list-style: none;
}
.tab-bars ul li img{
	width:1.2rem;
	height:1.2rem;
}
.tab-bars ul li p{
	font-size:0.5rem;
	margin-top:0.1rem;
}